
        body {
            background-color: #4d996a;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Styles for the container */
        .upload-container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        /* Styles for the title */
        h1 {
            color: #4d996a;
        }

        /* Styles for the form */
        .upload-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Styles for labels */
        label {
            color: #4d996a;
            font-weight: bold;
            margin-bottom: 5px;
        }

        /* Styles for input fields */
        input[type="file"],
        input[type="text"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        }

        /* Styles for the submit button */
        input[type="submit"] {
            background-color: #4d996a;
            color: white;
            cursor: pointer;
            transition: background-color 1s ease;
        }

        input[type="submit"]:hover {
            background-color: #357854;
        }
