
        .header {
            background-color: #4d996a;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
        
        .logo {
            font-size: 24px;
            font-weight: bold;
        }
        
        .nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .nav li {
            display: inline;
            margin-right: 20px;
        }
        
        .nav a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
        
        /* Стили для бокового меню */
        .sidebar {
            background-color: #ade9c4;
            padding: 20px;
        }
        
        /* Основная область */
        .main-content {
            background-color: #ffffff;
            padding: 20px;
        }
