<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/adminmain.css">
    <title>Административная панель</title>
</head>
<body>
    <header class="header">
        <div class="logo">Ваш логотип</div>
    </header>

    <aside class="sidebar">
        <nav class="nav">
            <ul>
                <li><a href="admin/users">Пользователи</a></li>
                <li><a href="admin/videos">Видео</a></li>
            </ul>
        </nav>
    </aside>

    <main class="main-content">
        <!-- Содержимое административной панели будет здесь -->
    </main>
    <script src="/static/js/adminmain.js"></script>
</body>
</html>
