<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/video.css">
    <title>{{ data.Name }} - Video Player</title>
</head>
<body>
    <header>
        <h1>{{ data.Name }}</h1>
    </header>
    <div class="container">
        <video controls id="videoContainer" data-id="{{ data.id }}">
            <source src='/servevideo/{{ data.Path }}' type="video/mp4">
            Your browser does not support video playback.
        </video>
        <div class="video-info">
            <button id="likeButton">Like {{ data.Reactions.Likes }}</button>
            <button id="dislikeButton">Dislike {{ data.Reactions.Dislikes }}</button>
            <h2>{{ data.Name }}</h2> 
            <p>{{ data.ViewCount }} Views</p>
            <a href="/profile/{{ data.OwnerId }}" class="profile-link">
                <img class="pfp" height="50" width="50" src="/image/{{ data.OwnerId }}.png" alt="Profile Picture">
                <p>{{data.OwnerNickname}}</p>
            </a>
            <p>Description: {{ data.Description }}</p>
        </div>
        <div class="recommendations">
            {% for video in data['recommended_videos'] %}
            {% if video %}
            <a href="/video/{{ video['Path'] }}" class="video-link">
                <div class="video-card">
                    <img src="/image/{{ video['ImagePath'] }}" width="230" height="150" alt="Thumbnail">
                    <h3>{{ video['Name'] }}</h3>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        <div class="comment-form">
            <textarea id="commentText" placeholder="Write a comment..."></textarea>
            <button id="commentButton">Comment</button>
        </div>
        <div class="comment-list">
            {% for comment in data['comments'] %}
                <div class="comment">
                    <a href="/profile/{{ comment['Commentatorid'] }}" class="profile-link">
                        <img class="pfp" height="30" width="30" src="/image/{{ comment['Commentatorid'] }}.png" alt="Profile Picture">
                        <p>{{ comment['CommentatorNickname'] }}</p>
                    </a>
                    <p>{{ comment['Text'] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/js/video.js"></script>
</body>
</html>
